.project-card {
    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 1736px;
    height: 98px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed-task {
    background: #069004 !important;
}

.card-section-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.card-section-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.project-card-title {
    color: #000;
    font-family: Catamaran, cursive;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 30px;
}

.project-card-delete-btn {
    border: none;
    background: none;
    color: red;
    font-size: xxx-large;
}

.project-card-delete-btn:hover {
    color: #FF7575;
}

.project-card-delete-btn:active {
    font-size: xx-large;
}

.project-card-blocker-icon {
    display: flex;
    align-items: center;
    font-size: xxx-large;
    color: #F9C344;
    height: fit-content;
}

.move-card-icon {
    font-size: xxx-large;
    margin-left: 5px;
    color: #6C6C6C;
}

.project-card-action-btn {
    display: flex;
    width: 183px;
    height: 59px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    color: #FAFAFA;
    text-align: center;
    font-family: Catamaran, cursive;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 30px;
    border: none;
}

.project-card-action-btn:active {
    box-shadow: none;
}

.open-color {
    background: #6C6C6C;
}

.open-color:hover {
    font-size: 30px !important;
    background: #979797;
}

.close-color {
    background: #617AFF;
}

.close-color:hover {
    font-size: 30px !important;
    background: #7B90FF;
}

.re-open-color {
    background: #F9C344;
    color: #6C6C6C !important;
}

.re-open-color:hover {
    font-size: 30px !important;
    background: #FFD36C;
    color: #6C6C6C !important;
}

#add-task-icon {
    font-size: x-large;
}


#add-task-button {
    width: 56px;
    height: 54px;
    background: #FAFAFA;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

#add-task-button:active {
    box-shadow: none;
}

#add-task-button:hover {
    background: #6C6C6C;
}

#add-task-button:hover #add-task-icon {
    font-size: xx-large;
}

#project-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.honey-done-bar {
    flex: 1;
    background: #6C6C6C;
    border-radius: 10px !important;
}

.empty-progress-bar {
    flex: 1;
    background: #6C6C6C;
    border-radius: 10px;
    height: 19px;
    display: flex;
    justify-content: center;
}

.no-tasks-completed {
    color: #f9c344;
}

.p-progressbar .p-progressbar-value {
    background: #F9C344 !important;
    border-radius: 10px !important;
    display: flex;
    justify-content: center;
}

.p-progressbar .p-progressbar-label {
    color: #6C6C6C;
}

#achievement-title {
    color: #6C6C6C;
    font-family: Catamaran, cursive;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 204px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
}

#title-container {
    display: flex;
    justify-content: flex-start;
    width: 100%
}
